/* Reset CSS styles
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* DM added the following to deal with Safari */
textarea, input[type="text"], input[type="button"], input[type="submit"],
input[type="number"] {
     -webkit-appearance: none;
     border-radius: 0;
}
/* -------------End of style reset ------------------ */
html {
	height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
	line-height: 1.15;
	max-width: 800px;
	min-width: 320px;
	margin: 0 auto;
	text-align: center;
	height: 100%;
	max-height: 1024px;
}
#wrapper {
	background-color: rgb(229, 230, 241);
	height: 100%;
}
#title-area {
	background-color: rgb(13, 63, 104);
	color: rgb(255, 255, 255);
	padding: 10px;
}
h1 {
	font-size: 230%;
}
.small-text {
	font-size: 85%;
}
#home a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
#display {
	width: 270px;
	margin-left: auto; 
    margin-right: auto; 
	background-color: rgb(255, 255, 255);
	font-size: 170%;
	height: 60px;
}
#top-window {
	background-color: rgb(255, 255, 255);
	height: 15px;
	margin: 0 2px 0 2px;
	text-align: right;
	font-size: 60%;
	color: rgb(100, 100, 100);
	padding: 3px;
}
#main-window {
	background-color: rgb(255, 255, 255);
	margin: 0 2px 0 2px;
	text-align: right;
	font-size: 100%;
	max-width: 100%;
	padding: 3px;
}
table {
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    width: 270px;
}
button {
    background-color: rgb(21, 112, 181);
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    margin: 1px;
	cursor: pointer;
	height: 65px;
	width: 65px;
	padding: 0;
}
.half button {
	height: 32px;
}
#zero, #one,#two,#three,#four,#five,#six,#seven,#eight, #nine, #decimal {
	background-color: rgb(13, 63, 104);
}
#equals {
	background-color: rgb(182, 27, 56);
}
#backspace img{
	height: 15px;
	width: 20px;
}
@media only screen and (min-height: 500px) {
	#title-area {
		margin-bottom: 30px;
	}
	#display {
		width: 290px;
		height: 70px;
	}
	#top-window {
		height: 20px;
	}
	table {
		width: 290px;
	}
	button {
		height: 70px;
		width: 70px;
	}
	.half button{
		height: 35px;
	}
}
@media only screen and (min-height: 600px) {
	#title-area {
		margin-bottom: 40px;
	}
	.small-text {
		font-size: 100%;
	}
	#display { 
		width: 330px;
		height: 80px;
		font-size: 200%;
	}
	table {
		width: 330px;
	}
	#top-window {
		height: 30px;
	}
	button {
		height: 80px;
		width: 80px;
	}
	.half button{
		height: 40px;
	}
}
@media only screen and (min-height: 700px) {
	#title-area {
		margin-bottom: 50px;
	}
	h1 {
		font-size: 250%;
	}
	.small-text {
		font-size: 110%;
	}
	#display {
		width: 370px;
		height: 90px;
		font-size: 240%;
	}
	table {
		width: 370px;
	}
	#top-window {
		height: 30px;
	}
	button {
		height: 90px;
		width: 90px;
		font-size: 25px;
	}
	.half button{
		height: 45px;
	}
	#backspace img{
		height: 19px;
		width: 25px;
	}
}
@media only screen and (min-height: 850px) {
	#title-area {
		margin-bottom: 60px;
	}
	h1 {
	font-size: 270%;
	}
	.small-text {
		font-size: 120%;
	}
	#display {
		width: 490px;
		height: 100px;
		font-size: 260%;
	}
	#top-window {
		height: 35px;
	}
	#spacer {
		height: 20px;
	}
	table {
		width: 490px;
	}
	button {
		height: 120px;
		width: 120px;
		font-size: 30px;
	}
	.half button {
		height: 60px;
	}
	#backspace img{
		height: 23px;
		width: 30px;
	}
}